.active-menu {
    background-color: #fff5f5 !important;
    color: #b22222 !important;
    border-right: 4px solid #b22222 !important;
}

.list-group-item:hover {
    background-color: #f8f9fa;
    color: #b22222;
}