@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --custom-red: #c84022;
  --custom-red-dark: #a1331b;
  --bg-light: #f8f9fa;
  --text-dark: #333;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

.btn-custom-red {
  background-color: var(--custom-red);
  color: white !important;
  font-weight: 600;
  border: none;
  padding: 8px 20px;
  transition: 0.3s;
}

.btn-custom-red:hover {
  background-color: var(--custom-red-dark);
}