/* src/styles/Hero.css */
.hero-section {
  position: relative;
  height: 80vh;
  background: url('https://res.cloudinary.com/dnby5o1lt/image/upload/v1754489527/alumni_linked_in_background_image_sgla6a.jpg') no-repeat center center/cover;
  background-attachment: fixed;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* படத்தின் மேல் லேசான கருப்பு நிறம் */
}

.hero-section h1 {
  font-size: 3.5rem;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}