/* src/styles/Navbar.css */
.navbar {
  padding: 15px 0;
  background-color: #fff !important;
}

.logo-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.nav-link {
  font-weight: 500;
  color: #333 !important;
  font-size: 15px;
}

.nav-link:hover {
  color: var(--custom-red) !important;
}

.btn-custom-red {
  background-color: #c84022;
  color: white;
  border: none;
  padding: 8px 20px;
  font-weight: 600;
}

.btn-custom-red:hover {
  background-color: #a1331b;
  color: white;
}